/*.vsix

/.gradle/

/node_modules/

/staging/.gradle/
/staging/build/
/staging/img/
/staging/lib/
/staging/.vscodeignore
/staging/build.gradle
/staging/package.json
/staging/README.md

/test/resources/.gradle/
/test/resources/build/
